<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/distribute" method="POST">
    <div>
            <label class="form-label" for="partner">partnerID</label>
            <input class="form-control" type="text" id="partnerId" name="partnerId">
    </div>
    <div>
        <label class="form-label" for="partner">amount</label>
        <input class="form-control" type="text" id="amount" name="amount">
    </div>

      <button>submit</button>
      </form>
</body>
</html>